:root {
    --primaryColor: rgb(37 37 38);
    --secondaryColor: rgb(45 45 45);
    --hoverColor: rgb(75, 75, 75);
}


.home-container {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--secondaryColor);
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: var(--primaryColor);

    height: 100vh;
}

.sidebar-row {
    margin: 0;
    padding: 0;
}

.index-card {
    border-radius: 15px;
    margin-top: 20px;
    background-color: var(--secondaryColor);
    border: 0;
    color: white;
}

.index-card:hover {
    cursor: pointer;
    border: 1px solid;
    border-color: var(--hoverColor);
}

.item-name {
    color: white;
    /* color: var(--secondaryColor); */
    /* font-weight: lighter; */
    font-size: 150%;
}

.item-icon {
    /* color: white; */
    color: white;
    /* background-color: #1B7B4D; */

}

.item-total {
    color: white;
    /* color: var(--secondaryColor); */
    font-weight: bolder;
    font-size: 300%;
}

.sidebar-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
}

li {
    color: white;
    /* background-color: aqua; */
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

li:hover {
    background-color: var(--hoverColor);
    border-radius: 5px;
    cursor: pointer;
}

.index-container {
    background-color: rgb(30 30 30);
}

.brand {
    position: fixed;
    bottom: 0;
}