/* :root {
    --primaryColor: #08351f;
    --secondaryColor: #105031;
    --hoverColor: #56a07c;
} */

:root {
    --primaryColor: rgb(37 37 38);
    --secondaryColor: rgb(45 45 45);
    --hoverColor: rgb(75, 75, 75);
}
.logo {
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0;
}

.dp-name {
    margin-top: 1%;
    margin-bottom: 0;
    /* padding-top: 1%; */
    /* padding-bottom: 1%; */
    float: right;
    color: white;
    padding-left: 15%;
    /* display: inline; */
    /* width: 40%; */
    font-size: 16px;
    margin-right: 35px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dp-name:hover {
    background-color: var(--hoverColor);
    border-radius: 30px;
    cursor: pointer;
}

.drop-down {
    background-color: var(--primaryColor);
    border: none;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    float: right;

}

.drop-down:hover {
    background-color: var(--hoverColor);

}

.drop-down-menu {
    background-color: var(--secondaryColor);
    border: var(--hoverColor) solid 1px;
    width: 35%;
    margin-top: 19px;
}

.drop-down-item {
    color: white;
}