:root {
    --primaryColor: #08351f;
    --secondaryColor: #105031;
    --hoverColor: #56a07c;
}

.signin-container {
    background-color: var(--primaryColor);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.signin-card {
    border: none;
    border-radius: 30px;
    margin-top: 20%;
    padding:50px
}

.login-btn {
    width: 70%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    color: var(--primaryColor);
    margin-top: 0;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

.login-btn:hover {
    background-color: var(--hoverColor);
    color: white;
    transition: 500ms;
}

/* .brand-name {
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-top: 5%;
} */

.span-icon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: white;
    background-color: var(--primaryColor);
    border: none;
}

.forgot-p {
    font-size: 12px;
    float: right;
    margin-top: 30px;
    color: var(--primaryColor);
}

.dont-have-account {
    font-size: 15px;
    color: var(--primaryColor);
}

.signup {
    cursor: pointer;
    color: var(--primaryColor);
}

.remember-me {
    font-size: 12px;
    float: left;
    margin-top: 30px;
    color: var(--primaryColor);
}

input[type=checkbox] {
    width: 25px;
}

input[type=password] {
    border-radius: 0;
    border: none;
    color: white;
    background-color: var(--primaryColor);
    outline: none;
    width: 85%;
}

input[type=email] {
    border-radius: 0;
    border: none;
    color: white;
    background-color: var(--primaryColor);
    outline: none;
    width: 85%;
}

input[type=text] {
    border-radius: 0;
    border: none;
    color: white;
    background-color: var(--primaryColor);
    outline: none;
    width: 85%;
}

input[type=number] {
    border-radius: 0;
    border: none;
    color: white;
    background-color: var(--primaryColor);
    outline: none;
    width: 85%;
}

::placeholder {
    color: white;
    padding-left: 5px;
}

.g-t-a {
    font-size: 18px;
    margin-top: 20px;
    color: white;
}

.one-click {
    font-weight: bold;
    color: white;
    font-size: 50px;
    margin-top: 20%;
    /* margin-left: 20%;    */
}

.about {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}

.start-btn {
    color: var(--primaryColor);
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 15px;
    width: 30%;
    font-weight: '';
    font-size: 20px;
}

.start-btn:hover {
    background-color: var(--hoverColor);
    color: white;
    transition: 500ms;
}

/* .card-img-top {
        position: absolute;
        top: -70px;
        left: 40%;
        margin-left: -40px;
        width: 100px;
        height: 100px;
        color: white;
        background-color:#56a07c;
        border-radius: 50%;
    } */

.middle {
    background-color: var(--primaryColor);
    margin: 0;
}

/*iPhone 5*/
/* @media only screen and (max-width: 320px) { */
@media only screen and (max-width: 375px) { 

    .one-click {
        font-size: 30px;
    }

    .about {
        font-size: 20px;
    }

    .start-btn {
        width: 40%;
        padding: 10px;
        font-size: 15px;
    }
    input[type=email]{
        width: 80%;
    }
    
    input[type=password]{
        width: 80%;
    }
    input[type=text]{
        width: 80%;
    }
    
    input[type=number]{
        width: 80%;
    }
    .signin-card{
        padding:20px
    }
    /* */
    .middle{
        padding-bottom: 10%
    }
}

/*iPhone 6+*/
@media only screen and (min-width: 375px) and (max-width: 414px) {
    .one-click {
        font-size: 30px;
    }

    .about {
        font-size: 20px;
    }

    .start-btn {
        width: 40%;
        padding: 10px;
        font-size: 15px;
    }
    input[type=email]{
        width: 80%;
    }
    input[type=password]{
        width: 80%;
    }
    input[type=number]{
        width: 80%;
    }
    input[type=text]{
        width: 80%;
    }
    .signin-card{
        padding:20px
    }
    
    .middle{
        padding-bottom: 10%
    }
}